
/* ----------------  Root Styling ---------------- */

:root {

    //  ### Primary
    --clr-darkCyan-prm-400: hsl(158, 36%, 37%);
    --clr-darkCyan-prm-hover: hsl(158, 36%, 20%);
    --clr-cream-prm-200: hsl(30, 38%, 92%);

    //  ### Neutral
    --veryDarkBlue-nut-900: hsl(212, 21%, 14%);
    --darkGrayishBlue-nut-400: hsl(228, 12%, 48%);
    --white-nut-100: hsl(0, 0%, 100%);

    //  ## Typography
    --ff-fraunces: 'Fraunces', serif;
    --ff-montserrat: 'Montserrat', sans-serif;

    --fw-normal: 500;
    --fw-bold: 700;
}

/* ----------------  End of Root Styling ---------------- */

/* 
---
-- */ 