/* ----------------  Root Styling ---------------- */
:root {
  --clr-darkCyan-prm-400: hsl(158, 36%, 37%);
  --clr-darkCyan-prm-hover: hsl(158, 36%, 20%);
  --clr-cream-prm-200: hsl(30, 38%, 92%);
  --veryDarkBlue-nut-900: hsl(212, 21%, 14%);
  --darkGrayishBlue-nut-400: hsl(228, 12%, 48%);
  --white-nut-100: hsl(0, 0%, 100%);
  --ff-fraunces: "Fraunces", serif;
  --ff-montserrat: "Montserrat", sans-serif;
  --fw-normal: 500;
  --fw-bold: 700;
}

/* ----------------  End of Root Styling ---------------- */
/* 
---
-- */
/* ----------------  Reset Styling ---------------- */
/* Source of the reset code: https://www.joshwcomeau.com/css/custom-css-reset/ */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3 {
  line-height: 1;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* ----------------  End of Reset Styling ---------------- */
/* 
---
-- */
/* ----------------  Global Styling ---------------- */
body {
  font-family: var(--ff-montserrat);
  font-weight: var(--fw-normal);
  font-size: 0.875rem;
  color: var(--darkGrayishBlue-nut-400);
  background-color: var(--clr-cream-prm-200);
  display: grid;
  place-content: center;
  margin: 1rem;
}

/* ----------------  End of Global Styling ---------------- */
/* 
---
-- */
/* ----------------  Utilities Styling ---------------- */
.prices-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* ----------------  End of Utilities Styling ---------------- */
/* 
---
-- */
/* ----------------  Custom Styling ---------------- */
.product {
  --content-padding: 1.5rem;
  --content-spacing: 1rem;
  display: grid;
  background-color: var(--white-nut-100);
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 600px;
}
@media (min-width: 650px) {
  .product {
    --content-padding: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}
.product__content {
  display: grid;
  gap: var(--content-spacing);
  padding: var(--content-padding);
}
.product__category {
  font-size: 0.8125rem;
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
}
.product__title {
  font-size: 2rem;
  font-family: var(--ff-fraunces);
  color: var(--veryDarkBlue-nut-900);
}
.product__current-price {
  font-size: 2rem;
  font-family: var(--ff-fraunces);
  color: var(--clr-darkCyan-prm-400);
}
.product__btn {
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 0.5rem;
  padding: 0.75em 1.5em;
  background-color: var(--clr-darkCyan-prm-400);
  color: var(--white-nut-100);
  font-weight: var(--fw-bold);
  font-size: 0.925rem;
}
.product__btn:is(:hover, :focus) {
  background-color: var(--clr-darkCyan-prm-hover);
}
.product__btn[data-icon=cart-icon]::before {
  content: "";
  background-image: url("../images/icon-cart.svg");
  width: 15px;
  height: 16px;
}

/* ----------------  End of Custom Styling ---------------- */
/* 
---
-- *//*# sourceMappingURL=style.css.map */